body {
  margin-top: 100px;
}

.container {
  border-radius: 1px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
}

ul {
  padding: 0;
  margin-bottom: 0;
}

ul li {
  border: 1px solid grey;
  list-style: none;
  padding: 5px;
}

input {
  border: none;
  width: 100%;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  position: relative;
}
